global_defs {

    # Keepalived process identifier
    router_id haproxy_ldap_{{balancer_prio}}{% if balancer_role is defined and balancer_role|upper == "BACKUP" %}_passive{% endif %}

}
# Script used to check if HAProxy is running
vrrp_script check_haproxy {
    script "killall -0 haproxy"
    interval 3 
    weight 2
    fall 2     
    rise 1   
}
# Виртуальный интерфейс
# The priority specifies the order in which the assigned interface to take over in a failover
vrrp_instance VI_01 {
    state {{balancer_role}}
    interface {{ansible_default_ipv4.interface}}
    virtual_router_id 51
    priority {{balancer_prio}}
    # Виртуальный IP-адрес
    virtual_ipaddress {
        {{balancer_virtual_ip}}
    }
    track_script {
        check_haproxy
    }
}