version = 3
server_host = {{sogo_maildomain}}:389
search_base = {{sogo_postfix_search_base}}
scope = sub
query_filter = (&(objectClass=user)(|(sAMAccountName=%s)(mail=%s)))
result_attribute = mail
bind_dn = {{sogo_postfix_vmail_basedn}}
bind_pw = {{sogo_vmail_password}}
bind = yes
